<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Routes</title>
</head>
<body class="container">


    <h2>Список Трасс</h2>
    <table border=1 frame=void >
        <tr><th>Id</th><th>Название</th><th>Сложность</th><th>Пробил</th><th>Локация</th><th>Сектор</th><th>Кол-во оттяжек</th><th>Доп информация</th><th>Ссылка на локацию</th></tr>
        {% for person in data %}
        <tr><td>{{ person.id }}</td>
            <td>{{ person.name }}</td>
            <td>{{ person.grade }}</td>
            <td>{{ person.bolter.all|join:", " }}</td>
            <td>{{ person.location }}</td>
             <td>{{ person.sector }}</td>
            <td>{{ person.quickdraws }}</td>
            <td>{{ person.extra_info }}</td>
            <td>{{ person.coords }}</td>

        </tr>
        {% endfor %}
    </table>

</body>
</html>
