<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Index</title>
</head>
<body>
<table border=1 frame=void >
<tr >
    <td><a href=" {% url 'add_bolter_view' %}">Добавить пробившего маршрут</a></td>
    <td><a href=" {% url 'add_location_view' %}">Добавить локацию</a></td>
    <td><a href=" {% url 'add_route_view' %}">Добавить маршрут</a></td>
    <td><a href=" {% url 'add_sector_view' %}">Добавить сектор</a></td>
    <td><a href=" {% url 'register_user' %}">Добавить пользоавателя</a></td>
    <td><a href=" {% url 'add_comf_view' %}">Добавить категорию сложности</a></td>
    <td><a href=" {% url 'add_grade_view' %}">Добавить уровень комфорта</a></td>
    <td><a href=" {% url 'add_boulder' %}">Добавить болдер</a></td>

</tr>
<tr>
    <td><a href="{%url 'bolters_list_view' %}">Список людей пробивающих маршруты</a></td>
    <td><a href="{%url 'locations_list_view' %}">Список локаций</a></td>
    <td><a href="{%url 'routes_list_view' %}">Список маршрутов </a></td>
    <td><a href="{%url 'sectors_list_view' %}">Список секторов</a></td>
    <td><a href="{%url 'logout_user'%}">Выйти</a> </td>
    <td><a href="{%url 'comfs_list_view' %}">Список уровней комфорта</a></td>
    <td><a href="{%url 'grades_list_view' %}">Список категорий сложности</a></td>
    <td><a href=" {% url 'boulders_list_view' %}">Список болдеров</a> </td>
</tr>
</table>
</body>
</html>
